<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @event.owner %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @event.sport %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @event.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @event.long %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
